<div class="header">
  <div class="logo">
    <p>HOTEL ECLIPSE</p>
  </div>
    <nav>
      <a href="roombooking">Rooms</a>
      <a href="mybookings">My Bookings</a>
      <div class="dropdown">
        <a >Services</a>
        <div class="dropdown-content">
            <a href="food">Food</a>
            <a href="hotelservices">Laundry</a>
        </div>
    </div>
      
      <a href="contact">Contact Us</a>
      <a href="feedback">Feedback</a>
      <a href="welcome">Sign Out</a>
    </nav>
</div>
