.footer{
    
    width: 100%;
    background-color:black;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
    
    height: 40%;}

    .address-container {
        max-width: 350px;
        margin: 5px auto;
        padding: 10px;
        
        border-radius: 5px;
        text-align: center;
    }
    .address-container h2 {
        color: whitesmoke;
        margin-bottom: 20px;
    }
    
    .address-container p {
        font-size: 18px;
        color: whitesmoke;
        margin: 5px 0;
    }