.mains {
    font-family: Arial, sans-serif;
   
    background-color: rgb(6, 65, 65);
    background-size: cover; 
    background-position: center;
    width: 100%;
    padding-bottom: 5%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.main h1 {
  color: #efeef0;
  margin-bottom: 20px;
  font-size: 8vh;
  font-weight: bold;
}

.contact-cards {
  padding-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.contact-card {
  background-color: #deeff6;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 30%;
  height: 150px;
  text-align: left;
}

.contact-card h2 {
  color: #053053;
  margin-bottom: 10px;
}

.contact-card p {
  font-size: 16px;
  color: #333;
  margin: 5px 0;
}

h1 {
  text-align: center;
  color: #0e0101;
}




