<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Departments Contact Information</title>
    
</head>
<app-header></app-header>
<div class="mains">
    <div class="main">
        <h1>Contact Information for Hotel Departments</h1>
        <img src="https://media.istockphoto.com/id/512492571/photo/businessman-hand-is-dialing-phone-number-with-picked-up-headset.jpg?s=612x612&w=0&k=20&c=ioW9xCrqwu6QXukb6iejvNGSOV1M3AMCYsbyhUAKtc8=">
        <div class="contact-cards">
            <div class="contact-card">
                <h2>Front Desk</h2>
                <p>Contact Number: +1-234-567-8901</p>
                <p>Email: frontdesk&#64;hotel.com</p>
            </div>
            <div class="contact-card">
                <h2>Reservations</h2>
                <p>Contact Number: +1-234-567-8902</p>
                <p>Email: reservations&#64;hotel.com</p>
            </div>
            <div class="contact-card">
                <h2>Housekeeping</h2>
                <p>Contact Number: +1-234-567-8903</p>
                <p>Email: housekeeping&#64;hotel.com</p>
            </div>
            <div class="contact-card">
                <h2>Room Service</h2>
                <p>Contact Number: +1-234-567-8904</p>
                <p>Email: roomservice&#64;hotel.com</p>
            </div>
            <div class="contact-card">
                <h2>Concierge</h2>
                <p>Contact Number: +1-234-567-8905</p>
                <p>Email: concierge&#64;hotel.com</p>
            </div>
            <div class="contact-card">
                <h2>Events</h2>
                <p>Contact Number: +1-234-567-8906</p>
                <p>Email: events&#64;hotel.com</p>
            </div>
        </div>
    </div>

</div>


<app-footer></app-footer>
</html>

