<div class="header">
  <div class="logo">
    <p>HOTEL ECLIPSE</p>
  </div>
  <nav>
    <a routerLink="/login">Login</a>
    <a routerLink="/register">Register</a>
  </nav>
</div>
<div class="main">
  <p class="top">Welcome to Hotel Eclipse, where luxury meets comfort in the heart of the city</p>

</div>
<div class="content">
  <div class="about-us">
    <h1>About Us!</h1>
    <p>Welcome to Hotel Eclipse, where modern luxury meets timeless elegance in the heart of Los Angeles. Founded with a
      vision to create a sanctuary from the everyday hustle, our hotel offers an extraordinary experience inspired by
      the celestial phenomenon of an eclipse. We are dedicated to delivering unparalleled hospitality, with a focus on
      excellence, integrity, innovation, and sustainability. Enjoy our luxurious rooms, state-of-the-art amenities,
      exquisite dining, and stunning rooftop views. Whether for business or leisure, Hotel Eclipse promises a memorable
      stay that will leave a lasting impression.</p>
  </div>
  <section>
    <div class="facilities">
      <h2>Our Facilities</h2>
      <div class="cards">

        <div class="card">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQN0I5npXo8eF828fdc3UftyAtH0ubALgrqzA&s"
            alt="spa" srcset="">
          <h3>SPA</h3>
          <p>Indulge in a world of tranquility at our spa. Experience a range of luxurious treatments designed to
            refresh your body and mind. From soothing massages to revitalizing facials, our skilled therapists are here
            to pamper you.</p>

        </div>
        <div class="card">

          <img src="https://images.pexels.com/photos/61129/pexels-photo-61129.jpeg?auto=compress&cs=tinysrgb&w=600">
          <h3>SWIMMING</h3>
          <p>Take a refreshing dip in our beautiful swimming pool, perfect for relaxation and rejuvenation. Whether
            you're looking to swim laps or simply lounge by the water, our serene environment ensures a perfect escape
          </p>
        </div>
        <div class="card">
          <img src="https://images.pexels.com/photos/7031706/pexels-photo-7031706.jpeg?auto=compress&cs=tinysrgb&w=600">
          <h3>GYM</h3>
          <p>Stay fit and energized during your stay with access to our fully-equipped gym. With a variety of modern
            equipment and personal trainers available, we cater to all fitness levels, ensuring you can maintain your
            routine while away from home.</p>
        </div>
        <div class="card">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSoppskXg50kUI-AxF2WoiLR2RuOR6_aeR9kQ&s"
            alt="auditorium">

          <h3>AUDITORIUM</h3>
          <p>Host your next event in our state-of-the-art auditorium. Equipped with the latest technology and
            comfortable seating, it’s the perfect venue for conferences, workshops, and entertainment. Let us help you
            create unforgettable experiences.</p>
        </div>
        <div class="card">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWPJ8OPM0yEfxnPecrlV4lBX-CoiIN8ahqRA&s"
            alt="cab-services">
          <h3>CAB SERVICES</h3>
          <p>Experience hassle-free travel with our reliable cab service. Whether you need a ride to the airport or a
            tour of the city, our professional drivers are committed to providing safe and comfortable journeys tailored
            to your needs.</p>
        </div>
      </div>
    </div>
  </section>
</div>
<app-footer></app-footer>