<div class="header">
<div class="logo">
  <p>HOTEL ECLIPSE</p>
</div>
    <nav>
      <a routerLink="/login">Login</a>
      <a routerLink="/register">Register</a>
    </nav>
  </div>
  <div class="main">
    <p class="top">Welcome to Hotel Eclipse, where luxury meets comfort in the heart of the city</p>
    
  </div>
  <div class="content">
    <div class="about-us">
      <h1>About Us!</h1>
      <p>Welcome to Hotel Eclipse, where modern luxury meets timeless elegance in the heart of Los Angeles. Founded with a
        vision to create a sanctuary from the everyday hustle, our hotel offers an extraordinary experience inspired by
        the celestial phenomenon of an eclipse. We are dedicated to delivering unparalleled hospitality, with a focus on
        excellence, integrity, innovation, and sustainability. Enjoy our luxurious rooms, state-of-the-art amenities,
        exquisite dining, and stunning rooftop views. Whether for business or leisure, Hotel Eclipse promises a memorable
        stay that will leave a lasting impression.</p>
    </div>
    <section>
      <div class="facilities">
        <h2>Our Facilities</h2>
        <div class="cards">
          
          <div class="card">
            <img src="assets/spa.jpg" alt="spa" srcset="">
            <h3>SPA</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident aut tenetur error praesentium tempore
              aliquam distinctio dicta laudantium laborum nisi.</p>
  
          </div>
          <div class="card">
            <img src="assets/swim.jpg" alt="swim">
            <h3>SWIMMING</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident aut tenetur error praesentium tempore
              aliquam distinctio dicta laudantium laborum nisi. Espanol set provit un greh</p>
          </div>
          <div class="card">
            <img src="../../assets/gym.jpg">
            <h3>GYM</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident aut tenetur error praesentium tempore
              aliquam distinctio dicta laudantium laborum nisi.</p>
          </div>
          <div class="card">
            <img src="../../assets/audi.jpg" alt="auditorium">
  
            <h3>AUDITORIUM</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident aut tenetur error praesentium tempore
              aliquam distinctio dicta laudantium laborum nisi.</p>
          </div>
          <div class="card">
            <img src="../../assets/cab.jpg" alt="cab-services">
            <h3>CAB SERVICES</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident aut tenetur error praesentium tempore
              aliquam distinctio dicta laudantium laborum nisi.</p>
          </div>
        </div>
      </div>
    </section>
  </div>
  <app-footer></app-footer>
  